.home {
  padding: 20px 50px;
  background-color: #dadada;
}

.home h1 {
  color: rgb(38, 70, 219);
  padding-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
/* tablet  */
@media only screen and (max-width: 1100px) and (min-width: 769px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

 @media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

